{% extends 'Dairy_Natural_Milk/home.html' %}
{% block style %}
    <style>
        .btn-primary {
            height: 200px;
        }
    </style>

{% endblock style %}
{% block main %}

    <ol class="breadcrumb">
        {% block breadcrumbs %}
            {{ block.super }}
            <li class="breadcrumb-item"><a href="">छपाई</a></li>
        {% endblock %}
    </ol>
    <h1></h1>
    <div class="container-fluid mt-5">
        <div class="row wow fadeIn" style="visibility:visible;animation-name:fadeIn;padding: 40px">
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button"
                   href="{% url 'dairy_natural_milk:fill_information' %}">
                    <i class="fa  fa-info-circle mr-1"></i>
                    <br> दूध बिल

                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="{% url 'dairy_natural_milk:printing_home' %}">
                    <i class="fa  fa-print mr-1"></i>
                    <br>रोजमेळ
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="{% url 'dairy_natural_milk:printing_home' %}">
                    <i class="fa  fa-vcard mr-1"></i>
                    <br>ग्राहक खतावनी
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="{% url 'dairy_natural_milk:printing_home' %}">
                    <i class="fa   fa-leaf mr-1"></i>
                    <br>शेतकरी खतावनी
                </a>
            </div>

            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="#">
                    <i class="fa   fa-gear mr-1"></i>
                    <br>मासिक विक्री रजिस्टर
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="#">
                    <i class="fa    fa-calendar mr-1"></i>
                    <br>मासिक दूध नोंदणी शेतकरी
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="#">
                    <i class="fa    fa-inr mr-1"></i>
                    <br>नफा/तोटा ताळेबंद
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-danger custom-dashboard-button" href="{% url 'dairy:home' %}">
                    <i class="fa    fa-close mr-1"></i>
                    <br>बाहेर पडणे
                </a>
            </div>
        </div>
    </div>
{% endblock main %}