{% extends 'Dairy/home.html' %}
{% block style %}
    <style>

        .custom-dashboard-button {
            height: 120px;
        }

        /*Remove this if content increases*/
        .spacing-box {
            height: 64vh;
        }
    </style>
{% endblock style %}
{% block main %}
    <ol class="breadcrumb">
        {% block breadcrumbs %}
            {{ block.super }}
            <li class="breadcrumb-item"><a href="{% url 'dairy_natural_milk:home' %}">श्रीकृष्ण नॅचरल मिल्क डेअरी</a>
            </li>
        {% endblock %}
    </ol>
    <div class="container-fluid mt-5">
        <div class="row wow fadeIn" style="visibility:visible;animation-name:fadeIn;padding: 40px">
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button"
                   href="{% url 'dairy_natural_milk:fill_information' %}">
                    <i class="fa  fa-info-circle mr-1"></i>
                    <br> माहिती भरणे
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="{% url 'dairy_natural_milk:printing_home' %}">
                    <i class="fa  fa-print mr-1"></i>
                    <br>छपाई
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button" href="#">
                    <i class="fa   fa-gear mr-1"></i>
                    <br>सेटअप
                </a>
            </div>
            {#            remove this if content increase#}
            <div class="spacing-box"></div>
        </div>
    </div>
{% endblock main %}