{% extends 'Dairy_Natural_Milk/fill_information.html' %}
{% block style %}

    <style>
        .marathi-font {
            font-weight: bold;
            font-size: 1.1em;
        }

        .btn {
            width: 100%;
        }

        .btn .fa {
            font-size: 1.3em;
        }

        .custom-option {
            padding: 7px;
            background: #007bff;
            color: white;
        }

        .floating {
            border-radius: 50px;
            border-color: rgba(0, 0, 0, 0);
            background: #4285f4;
            color: white !important;
        }

        #table-title {
            margin-left: 12px;
            font-family: Asar, serif;
            color: #0b51c5;
            font-size: 1.5em;
        }
    </style>
{% endblock style %}
{% block main %}
    <ol class="breadcrumb">
        {% block breadcrumbs %}
            {{ block.super }}
            <li class="breadcrumb-item"><a href="{% url 'dairy_natural_milk:bank_home' %}">बँक </a></li>
        {% endblock %}
    </ol>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-warning marathi-font">
                    <i class="fa fa-plus"></i> बँक ऍड करा
                </button>
                <button class="btn btn-warning marathi-font">
                    <i class="fa fa-pencil"></i> एडीट करा
                </button>
                <button class="btn btn-warning marathi-font">
                    <i class="fa fa-trash"></i> डिलीट करा
                </button>
                <button class="btn btn-warning marathi-font">
                    <i class="fa fa-binoculars"></i> बँक पहा
                </button>
            </div>
            <div class="col-md-6" style="margin: 15px;padding: 10px">
                <div class="row">
                    <span></span>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="table-title"> ट्रांसकशन्स</span>
                        </div>
                    </div>

                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr style="font-family: Asar,serif">
                            <th scope="col">#</th>
                            <th scope="col">नाव</th>
                            <th scope="col">बँक</th>
                            <th scope="col">रक्कम</th>
                            <th scope="col"> प्रकार</th>
                            <th scope="col">तारिक</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transaction_info %}
                            <tr>
                                <td>{{ transaction.pk }}</td>
                                <td>{{ transaction.transaction_name }}</td>
                                <td>{{ transaction.bank_id }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.transaction_type }}</td>
                                <td>{{ transaction.transaction_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <a class="btn-sm marathi-font floating" href="{% url 'dairy_natural_milk:create_transaction' %}">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock main %}