{% extends 'layout.html' %}
{% load staticfiles %}
{% block style %}
    <style>

        .custom-dashboard-button {
            font-size: 2em;
            font-family: Asar, serif;
            font-weight: bold;
            width: 100%;
            height: 200px;
        }

        .col-md-3 .mr-1 {
            font-size: 1.4em;
        }

        @media only screen and (max-width: 767px) {
            .custom-dashboard-button {
                font-size: 1.4em;
                height: 120px;
            }
        }
    </style>

{% endblock style %}
{% block main %}
    <div class="container-fluid mt-5">
        <div class="row wow fadeIn" style="visibility:visible;animation-name:fadeIn;padding: 40px">
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button">
                    <i class="fa fa-leaf mr-1"></i>
                    <br> श्रीकृष्ण डेअरी फार्म
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button">
                    <i class="fa fa-filter mr-1"></i>
                    <br>श्रीकृष्ण नॅचरल मिल्क डेअरी
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button">
                    <i class="fa fa-money mr-1"></i>
                    <br>बचत योजना
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary custom-dashboard-button">
                    <i class="fa fa-book mr-1"></i>
                    <br>अन्य
                </a>
            </div>
        </div>
        <br>
        <div class="row wow fadeIn" style="visibility:visible;animation-name:fadeIn">

            {# bar graph #}
            <div class="col-md-9 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="chartjs-size-monitor"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:200%;height:200%;left:0;top:0"></div>
                            </div>
                        </div>
                        <canvas id="myChart" width="647" height="323" class="chartjs-render-monitor"
                                style="display:block;width:647px;height:323px"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                {# pie chart #}
                <div class="card mb-4">
                    <div class="card-header text-center">Pie chart</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:200%;height:200%;left:0;top:0"></div>
                            </div>
                        </div>
                        <canvas id="pieChart" width="647" height="323" class="chartjs-render-monitor"
                                style="display:block;width:647px;height:323px"></canvas>
                    </div>
                </div>
                {# Sales traffic orders #}
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="list-group list-group-flush"><a
                                class="list-group-item list-group-item-action waves-effect">Sales <span
                                class="badge badge-success badge-pill pull-right">22% <i
                                class="fa fa-arrow-up ml-1"></i> </span></a><a
                                class="list-group-item list-group-item-action waves-effect">Traffic <span
                                class="badge badge-danger badge-pill pull-right">5% <i
                                class="fa fa-arrow-down ml-1"></i> </span></a><a
                                class="list-group-item list-group-item-action waves-effect">Orders <span
                                class="badge badge-primary badge-pill pull-right">14</span> </a><a
                                class="list-group-item list-group-item-action waves-effect">Issues <span
                                class="badge badge-primary badge-pill pull-right">123</span> </a><a
                                class="list-group-item list-group-item-action waves-effect">Messages <span
                                class="badge badge-primary badge-pill pull-right">8</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn" style="visibility:visible;animation-name:fadeIn">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="blue lighten-4">
                            <tr>
                                <th>#</th>
                                <th>Lorem</th>
                                <th>Ipsum</th>
                                <th>Dolor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Cell 4</td>
                                <td>Cell 5</td>
                                <td>Cell 6</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cell 7</td>
                                <td>Cell 8</td>
                                <td>Cell 9</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn" style="visibility:visible;animation-name:fadeIn">
            {# line #}
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">Line chart</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:200%;height:200%;left:0;top:0"></div>
                            </div>
                        </div>
                        <canvas id="lineChart" width="647" height="323" class="chartjs-render-monitor"
                                style="display:block;width:647px;height:323px"></canvas>
                    </div>
                </div>
            </div>
            {# Radar #}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">Radar Chart</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:200%;height:200%;left:0;top:0"></div>
                            </div>
                        </div>
                        <canvas id="radarChart" width="647" height="323" class="chartjs-render-monitor"
                                style="display:block;width:647px;height:323px"></canvas>
                    </div>
                </div>
            </div>
            {# Doughnought #}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">Doughnut Chart</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1">
                                <div style="position:absolute;width:200%;height:200%;left:0;top:0"></div>
                            </div>
                        </div>
                        <canvas id="doughnutChart" width="647" height="323" class="chartjs-render-monitor"
                                style="display:block;width:647px;height:323px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block script %}
    <script>
        Chart.defaults.global.defaultFontStyle="bold";
        {#Chart.defaults.global.defaultFontSize="larger";#}
        Chart.defaults.global.defaultFontFamily	="'Noto Sans','sans-serif'";

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for key in dict %}
                        "{{ key }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'पदार्थ ',
                    data: [
                        {% for value in dict.values %}
                            {{ value }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        //pie
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [300, 50, 100, 40, 120],
                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });


        //line
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });


        //radar
        var ctxR = document.getElementById("radarChart").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
            type: 'radar',
            data: {
                labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });

        //doughnut
        var ctxD = document.getElementById("doughnutChart").getContext('2d');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                datasets: [
                    {
                        data: [300, 50, 100, 40, 120],
                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });

    </script>
{% endblock script %}