{% extends 'layout.html' %}
{% load staticfiles %}
{% block nav %}
{% endblock nav %}

{% block style %}
    <style>
        .login-wrapper {
            margin: auto 0 !important;
        }

        .btn {
            font-size: 1.2em;
        }

        .logo {
            height: 60px;
        }
    </style>
{% endblock style %}
{% block main %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form class="text-center border border-light p-5" style="width: auto">
                    <div>
                        <img src="{% static 'img/milk.png' %}" class="logo">
                        <hr>

                    </div>
                    <p class="h4 mb-4">Dairy Suite 360</p>

                    <input type="text" class="form-control mb-4" placeholder="नाव">
                    <input type="password" class="form-control mb-4" placeholder="पासवर्ड">
                    <button class="btn btn-info btn-block my-4 waves-effect waves-light" type="submit">लॉग इन</button>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock main %}

{% block footer %}
{% endblock footer %}
