{% extends 'layout.html' %}
{% block nav %}
{% endblock nav %}

{% block style %}
    <style>
        .login-wrapper {
            margin: auto 0 !important;
        }
    </style>
{% endblock style %}
{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form class="text-center border border-light p-5" style="width: auto">
                    <p class="h4 mb-4">Sign in</p>
                    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4"
                           placeholder="Password">
                    <button class="btn btn-info btn-block my-4 waves-effect waves-light" type="submit">Sign in</button>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock main %}

{% block footer %}
{% endblock footer %}
